Makefile linguist-vendored
*.make linguist-vendored
*.cpp.o.d linguist-vendored
*.cmake linguist-vendored
*.sh linguist-vendored
*.zsh linguist-vendored
*.bash linguist-vendored
*.cs.meta linguist-vendored
*.meta linguist-vendored
UNITY/RC3/*.cs linguist-vendored
UNITY/RC3/Library/*.cs linguist-language=ignore
